$icomoon-font-path: "fonts" !default;

$icon-image: "\e90d";
$icon-undo2: "\e967";
$icon-redo2: "\e968";
$icon-list-numbered: "\e9b9";
$icon-list: "\e9ba";
$icon-list2: "\e9bb";
$icon-link: "\e9cb";
$icon-bold: "\ea62";
$icon-underline: "\ea63";
$icon-italic: "\ea64";
$icon-strikethrough: "\ea65";
$icon-page-break: "\ea68";
$icon-table2: "\ea71";
$icon-paragraph-left: "\ea77";
$icon-paragraph-center: "\ea78";
$icon-paragraph-right: "\ea79";
$icon-paragraph-justify: "\ea7a";
$icon-embed: "\ea7f";

